#Eevee {
    height: 200px;
    width: 200px;
}

#Emolga {
    height: 200px;
    width: 200px;
}

#Mimikyu {
    height: 200px;
    width: 200px;
}

#sceptile {
    height: 200px;
    width: 200px;
}

#Togedemaru {
    height: 200px;
    width: 200px;
}

#Alcreamie {
    height: 200px;
    width: 200px;
}

#phanpy {
    height: 200px;
    width: 200px;
}

#Butterfree {
    height: 200px;
    width: 200px;
}

#Chimecho {
    height: 200px;
    width: 200px;
}
